@Html.Partial("PartialViews/CribsPreLoader")
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a href="@Url.Action("Create")"class="btn-floating btn-large cyan">
       <i class="large material-icons">add</i>
    </a>
</div>
