<div class="row">
    <div class="col s12 m6 l6 offset-m3">
        <h4>CribHood Error</h4>
        <p>The resource you are looking for could not be found. Please check the URL.</p>
    </div>
</div>

