@using Microsoft.Owin.Security
@model Cribs.Web.Models.ExternalLoginListViewModel


@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div class="row">
            <p>
                There are no external authentication services configured.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new {Model.ReturnUrl}))
        {
            @Html.AntiForgeryToken()
            <h5>Login with</h5>
            <hr />
            <p>
                @foreach (var p in loginProviders)
                {
                    <input type="submit" class="btn cyan" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"/>
                }
            </p>
           
        }
    }
}